<!-- Sidebar -->
<nav id="sidebar" class="bg-dark">
    <div class="sidebar-header text-center py-4">
        <img src="../assets/images/logo.png" alt="Logo" class="img-fluid" style="max-height: 50px;">
        <h5 class="text-white mt-2">Sistem Manajemen Trucking</h5>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="dashboard.html">
                <i class='bx bxs-dashboard'></i> Dashboard
            </a>
        </li>
        <li>
            <a href="#bookingSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class='bx bxs-book-content'></i> Booking
            </a>
            <ul class="collapse list-unstyled" id="bookingSubmenu">
                <li>
                    <a href="booking-list.html">Daftar Booking</a>
                </li>
                <li>
                    <a href="booking-add.html">Tambah Booking</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pengirimanSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class='bx bxs-truck'></i> Pengiriman
            </a>
            <ul class="collapse list-unstyled" id="pengirimanSubmenu">
                <li>
                    <a href="penugasan-list.html">Penugasan</a>
                </li>
                <li>
                    <a href="tracking-list.html">Tracking</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#invoiceSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class='bx bxs-file-invoice'></i> Invoice
            </a>
            <ul class="collapse list-unstyled" id="invoiceSubmenu">
                <li>
                    <a href="invoice-list.html">Daftar Invoice</a>
                </li>
                <li>
                    <a href="invoice-add.html">Buat Invoice</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#biayaSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class='bx bxs-wallet'></i> Biaya Operasional
            </a>
            <ul class="collapse list-unstyled" id="biayaSubmenu">
                <li>
                    <a href="biaya-list.html">Daftar Biaya</a>
                </li>
                <li>
                    <a href="biaya-add.html">Tambah Biaya</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#masterSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class='bx bxs-data'></i> Data Master
            </a>
            <ul class="collapse list-unstyled" id="masterSubmenu">
                <li>
                    <a href="pelanggan-list.html">Pelanggan</a>
                </li>
                <li>
                    <a href="driver-list.html">Driver</a>
                </li>
                <li>
                    <a href="armada-list.html">Armada</a>
                </li>
                <li>
                    <a href="tarif-list.html">Tarif</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#laporanSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class='bx bxs-report'></i> Laporan
            </a>
            <ul class="collapse list-unstyled" id="laporanSubmenu">
                <li>
                    <a href="laporan-pendapatan.html">Pendapatan</a>
                </li>
                <li>
                    <a href="laporan-biaya.html">Biaya Operasional</a>
                </li>
                <li>
                    <a href="laporan-profit.html">Profitabilitas</a>
                </li>
                <li>
                    <a href="laporan-performa.html">Performa Driver</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#userSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class='bx bxs-user-account'></i> Pengguna
            </a>
            <ul class="collapse list-unstyled" id="userSubmenu">
                <li>
                    <a href="user-list.html">Daftar Pengguna</a>
                </li>
                <li>
                    <a href="user-add.html">Tambah Pengguna</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>